
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profilim</p>
<p>#2 Tüm Başlıklarda sayfalama</p>
<p>#3 Mesajlarda Session işlemi</p>
<p>#4 Oturum Yönetiminin mimariye taşınması</p>
<p>#5 Token kullanılması</p>

